<?php
/**
 * Copyright 2014 David T. Sadler
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * Configuration settings used by all of the examples.
 * 
 * Specify your eBay application keys in the appropriate places.
 *
 * Be careful not to commit this file into an SCM repository.
 * You risk exposing your eBay application keys to more people than intended.
 *
 * For more information about the configuration, see:
 * http://devbay.net/sdk/guides/sample_project.html#configuration
 */
return array(
    'sandbox' => array(
        'devId' => 'YOUR_SANDBOX_DEVID_APPLICATION_KEY',
        'appId' => 'YOUR_SANDBOX_APPID_APPLICATION_KEY',
        'certId' => 'YOUR_SANDBOX_CERTID_APPLICATION_KEY',
        'userToken' => 'YOUR_SANDBOX_USER_TOKEN_APPLICATION_KEY'
    ),
    'production' => array(
        'devId' => 'YOUR_PRODUCTION_DEVID_APPLICATION_KEY',
        'appId' => 'YOUR_PRODUCTION_APPID_APPLICATION_KEY',
        'certId' => 'YOUR_PRODUCTION_CERTID_APPLICATION_KEY',
        'userToken' => 'YOUR_PRODUCTION_USER_TOKEN_APPLICATION_KEY'
    ),
    'findingApiVersion' => '1.12.0',
    'tradingApiVersion' => '863',
    'shoppingApiVersion' => '863'
);
