{% extends "app.html" %}
{% block content %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/get-app-token">Get Application Token</a></li>
          <li><a href="/get-user-token">Get User Token</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>Privacy</h1>
  <p>This is where you would put your privacy policy</p>
{% endblock %}
